/reto 2 - Line clipping/Clipping/nbproject/private/
/reto 2 - Line clipping/Clipping/build/
/Reto 1 - linea/nbproject/private/
/Reto 1 - linea/build/
/reto 3 - algebra/algebra/nbproject/private/
/reto 3 - algebra/algebra/build/
/reto 3 - algebra/algebra/dist/
/practica1/algebra/dist/
/practica1/algebra/build/
practica1/algebra/nbproject/build-impl.xml~
/Reto 4 - wireframe/reto4/nbproject/private/
/Reto 4 - wireframe/reto4/build/